
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Demos</h1>

<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Demo 1","Demo1")</li>
    <li class="list-group-item">@Html.ActionLink("Demo 2","Demo2")</li>
    <li class="list-group-item">@Html.ActionLink("Demo 3","Demo3")</li>
    <li class="list-group-item">@Html.ActionLink("Demo 4","Demo4")</li>
</ul>
